aiohttp==3.6.1 #cortx-utils
configparser==4.0.2 #cortx-utils
confluent-kafka==1.5.0 #cortx-utils
cryptography==2.8 #cortx-utils
dict2xml==1.6.1 #cortx-utils
elasticsearch-dsl==7.3.0 #cortx-utils
elasticsearch==7.12.0 #cortx-utils
matplotlib==3.1.3 #cortx-utils
networkx==2.4 #cortx-utils
paramiko==2.7.1 #cortx-utils
prettytable==0.7.2 #cortx-utils
python-consul==1.1.0 #cortx-utils
python-crontab==2.5.1 #cortx-utils
PyYAML==5.4.1 #cortx-utils
schematics==2.1.0 #cortx-utils
toml==0.10.0 #cortx-utils
types-psutil==5.8.0 #cortx-hare
idna==2.10 #cortx-hare
PyYAML==5.4.1 #cortx-hare
ply==3.11 #cortx-hare
psutil==5.8.0 #cortx-hare
idna==2.10 #cortx-hare
#aiohttp==3.7.4.post0 cortx-hare
click==8.0.1 #cortx-hare
dataclasses==0.8 #cortx-hare
python-consul==1.1.0 #cortx-hare
simplejson==3.17.2 #cortx-hare
tcpping==0.2 #cortx-hare
pytest-cov #cortx-hare
coverage #cortx-hare
inject==4.3.1 #cortx-hare
setuptools==57.1.0 #cortx-hare
dataclasses==0.8 #cortx-hare
-r python_requirements.ext.txt